@use 'color';

$font-base : 'Montserrat', sans-serif;

body {
    font-family: $font-base;
    padding: 45px 100px 0 100px;
    gap: 50px;

    h1 {
        color: color.$primary-color;
        font-weight: 700;
        font-size: 48px;

        @media screen and (min-width: 375px) {
            font-size: 35px;
            text-align: center;
        }

        @media screen and (max-width: 375px) {
            font-size: 24px;
            text-align: center;
        }
    }

    h2, a {
        color: color.$text-color;
        font-weight: 500;
        font-size: 24px;

        @media screen and (max-width: 375px) {
            font-size: 12px;
        }
    }

    h3 {
        color: color.$primary-color;
        font-weight: 700;
        font-size: 18px;

        @media screen and (max-width: 375px) {
            font-size: 13px;
        }
    }

    h4 {
        font-size: 288px;
        font-weight: 700;
        margin: 0;
        color: color.$container-color;
        text-align: center;

        @media screen and (max-width: 375px) {
            font-size: 96px;
        }
    }

    p {
        font-size: 18px;
        font-weight: 400;
        line-height: 25.67px;

        @media screen and (max-width: 375px) {
            font-size: 13px;
        }
    }
}

@media screen and (max-width: 900px) {
    body {
        padding: 0;
    }
}