@use 'color';

.logement {
    margin: 27px 0 ;
}

#carrousel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    #container-btn {
        display: flex;
        position: absolute;
        justify-content: space-between;
        max-width: 1224px;
        width: 100%;

        button {
            border: none;
            background: transparent;
        }
    }

    .carousel-image {
        width: 100%;
        max-height: 415px;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;

        @media screen and (max-width: 426px) {
            max-height: none;
            height: 255px;
        }
    }
}

//

.first-container {
    display: flex;

    h4 {
        font-size: 18px;
        font-weight: 700;
    }

    .primary-info {
        width: 65%;
        h1 {
            color:color.$container-color;
            font-size: 36px;
            font-weight: 500;
            margin: 0;
            text-align: left;
        }
    }
    .host {
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @media screen and (max-width: 375px) {
            flex-direction: row-reverse;
            justify-content: space-between;
            width: auto;
            align-items: flex-start;
        }

        .host-identity {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            gap: 10px;
        }
    }
    
}

.tags {
    gap: 10px;
    display: flex;

    span {
        background-color: color.$container-color;
        padding: 5px 36px;
        border-radius: 10px;
        color: #ffff;
        font-weight: 700;
        font-size: 14px;
    }
}

.host {
    img {
        border-radius: 90px;
        height: 64px;
        object-fit: cover;

        @media screen and (max-width: 375px) {
            height: 32px;
            width: 32px;
            border-radius: 50%;
        }
    }
    p {
        color: color.$container-color;
        width: 50%;
        text-align: right;

        @media screen and (max-width: 375px) {
            font-size: 13px;
            line-height: normal;
        }
    }
}

.secondary-info {
    display: flex;
    justify-content: space-between;
    gap: 76px;

    @media screen and (max-width: 375px) {
        flex-direction: column;
        gap: 10px;
    }
    

    .description, .equipement {
        width: 50%;
        margin: 0;

        @media screen and (max-width: 375px) {
            width: auto;
        }

        .title {
            display: flex;
            background-color: color.$container-color;
            border-radius: 5px;
            justify-content: space-between;
            padding: 10px;
    
            Button {
                border: none;
                background: transparent;
            }
            h4 {
                font-size: 18px;
                font-weight: 700;
                color: white;

                @media screen and (max-width: 375px) {
                    font-size: 13px;
                }
            }}

            p, ul{
                margin: 0;
                background-color: color.$secondary-color;
                border-radius: 5px;
                font-size: 18px;
                font-weight: 400;
                line-height: 25.67px;

                @media screen and (max-width: 375px) {
                    font-size: 13px;
                }
            }
            .collapse {
                overflow: hidden;
                max-height: 0;
                opacity: 0;
                transition: max-height 0.5s linear, padding 0.3s linear,  opacity 0.1s linear;    
            }
            .collapse.open {
                max-height: 800px; 
                opacity: 1;
                padding: 15px;
            }
            li {
                list-style-type: none;
            }
        
    }

    .title {
        display: flex;
        background-color: color.$container-color;
        border-radius: 10px;
        justify-content: space-between;
        padding: 10px;

        Button {
            border: none;
            background: transparent;
        }
    }
}

.rating-stars {
    display: flex;
    gap: 5px;
    font-size: 24px;
    padding-top: 20px;

    @media screen and (max-width: 375px) {
        font-size: 18px;
    }

    .starFilled {
        color: color.$container-color;
    }

    .starEmpty {
        color: color.$color-emptyStar;
    }
}
@media screen and (max-width: 900px) {
    #carrousel{
        margin: 27px 0;
        #container-btn {
            width: 98%;
            button img{
                width: 25px;
            }
        }
    }
    .tags span {
        padding: 10px;
    }
}
@media screen and (max-width: 375px) {
    #carrousel{
        margin: 27px 0;
        #container-btn {
            width: 95%;
            button img{
                width: 12px;
            }
        }
    }
    .first-container {
        flex-direction: column;
        .primary-info {
            width: 100%;
            h1 {
                font-size: 18px;
                display: flex;
        }}

        .tags span {
            padding: 7px 15px;
            font-size: 10px;
        }
    }
}